body {
  text-align: center;
  align-items: center;
  font-family: -apple-system, blinkmacsystemfont, "segoe ui", "roboto", "oxygen",
    "ubuntu", "cantarell", "fira sans", "droid sans", "helvetica neue",
    sans-serif;
  color: white;
}
#tracksType {
  text-align: center;
  border: 2px solid #34568b;
  margin:20px;
}
#playNext {
  background-color: aquamarine;
}

.text{
  background-color:black;
  border-radius:5px;
}
